main{
	background-color: aqua;
	border: solid green 1px;
}

.list{
	background-color: bisque;
	float: left;
  width: 30%;
}

.text{
	background-color: darkgray;
  margin-left: 30%;
}

img{
  float: right;
  width: 50%;
}