main{
	background-color: aqua;
	border: solid green 1px;
}

.list{
	background-color: bisque;
	padding: 10px;}

.text{
	background-color: darkgray;
}

@media (min-width: 701px) {
  .text{
    margin-left: 420px;
    margin-right: 5px;
  }
}

.list{
  width: 400px;
}

@media (max-width: 700px) {
  .list{
    width: 120px;
  }

  .text{
    width: 360px;
    clear: both;
  }
}